

.card {
    width: 13em;
    height: 21em;
    background-color: antiquewhite; /*find some nice picture*/
    border: 3px solid rgb(141, 131, 131);
    border-radius: 5px 5px;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}