@import "./Fonts.css";

h2 {
    font-family: 'PokemonFontSolid', Arial, sans-serif;
    font-size: 3em;
    text-align: center;
    color: rgb(255, 201, 75);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    -webkit-text-stroke: 2px rgba(70, 0, 0, 0.155);

}



.main {
    width: 100vw;
    height: 90vh;
    background-image: url("../assets/wallpaper.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.header {
    width: 60%;
    height: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cards {
    width: 80%;
    max-width: 80%;
    height: 80%;
    max-height: 80%;
    padding: 20px;
    display:grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr) ;
    gap: 1em;
}

.header button {
    background-color: #ff6347;
    border: none;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 5px 5px;
    padding: 0px 10px;

    font-family: 'PokemonFontSolid', Arial, sans-serif;
    font-size: 2em;
    text-align: center;
    cursor: pointer;
    color: rgb(255, 201, 75);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    -webkit-text-stroke: 2px rgba(70, 0, 0, 0.155);
}

.header button:hover{
    transform: scale(1.05);
}

.game_over {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%; 
    text-align: center;
}
.game_over.visible {

    display: block;
}


@media (max-width: 768px) {
    h2 {
       
        font-size: 2em;
           
    }
    .main {
       
        height: 75vh;
        justify-content: center;
   
    }
    .header {
        width: 100%;
        margin-bottom: 20px;
    }
    .header button {
        font-size: 1.5em;
    }
    .cards {
        width: 90%;
        max-width: 90%;
        height: 75%;
        max-height: 75%;
        padding: 10px;
    }
}