

.play-game-page {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/wallpaper.jpg');
    background-size: cover;
    background-position: center center; 
    background-repeat: no-repeat; 
    margin: 0;
    font-family: 'PokemonFontSolid', sans-serif; 
}

.pokemon-theme {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f7c8c8;
    padding: 30px;
    border-radius: 15px;
    max-width: 100%;
    box-sizing: border-box;  
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

h1 {
    font-size: 3rem;
    color: #ff6347; 
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    -webkit-text-stroke: 2px rgba(70, 0, 0, 0.155);
}


.start-button {
    text-align: center;
    background-color: #ff6347;
    border: none;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 5px 5px;
    padding: 0px 10px;
    font-family: 'PokemonFontSolid', Arial, sans-serif;
    font-size: 2em;
    text-align: center;
    cursor: pointer;
    color: rgb(255, 201, 75);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    -webkit-text-stroke: 2px rgba(70, 0, 0, 0.155);
}

.start-button:hover {
    background-color: #e0533b;
}
.start-button:active{
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

@media (min-width: 768px) and (max-width: 979px) {
  .pokemon-theme {
    padding: 20px;  
    margin-top: 10px; 
    width: 90%;
}
}

@media (max-width: 768px) {
    .pokemon-theme {
        padding: 15px; 
        margin-top: 10px; 
        width: 90%;
    }

    h1 {
        font-size: 2rem;  
    }

    .start-button {
        padding: 12px 15px; 
        font-size: 1.1rem;  
    }
   }

@media (max-width: 480px) {
    h1 {
        font-size: 1.5rem;  
    }

    .start-button {
        padding: 10px 10px;  
        font-size: 1rem;  
    }

    .pokemon-theme {
        padding: 10px; 
        width: 85%;  
        margin-top: 10px;
    }
}

@media (max-width: 320px) {
    .pokemon-theme {
        padding: 8px;  
        width: 85%;  
    }

    h1 {
        font-size: 1.5rem;  
    }

    .start-button {
        padding: 5px 10px; 
        font-size: 0.9rem; 
    }
}
