.signup__body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 90vh;
    background: linear-gradient(180deg,
            #003892 5%,
            #2f6bcc 30%,
            #2f6bcc 45%,
            #000 45%,
            #000 55%,
            #fff 55%,
            #fff 95%,
            #d0d0d0 100%);
}
.signup__body_marking {
    align-self: flex-start;
    width: 20vh;
        --p: 30%; /* control the shape (can be percentage) */
        height: 20vh;
        aspect-ratio: 3/2;
        clip-path: polygon(var(--p) 100%,calc(100% - var(--p)) 100%,100% 0,0 0);
        background: linear-gradient(#8b1e27, #ff2336) ;
        transform: skew(30deg);
}
.marking-R {
    transform: skew(-30deg);
}
.signup__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 77vh;
    height: 77vh;
    background-image: radial-gradient(#ffffff,
            #d0d0d0);
    border-radius: 50%;
    border: #000 8vh solid;
    padding-bottom: 3vh;
}
.signup__form>div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.signup__form label {
    font-family: 'PokemonFontSolid', sans-serif;
    font-size: 2.2rem;
    color: #b37a00;
}
.signup__form input {
    width: 42vh;
    height: 6vh;
    border: #000 solid;
    border-radius: 2vh;
    padding: 0px 10px;
    font-family: 'Pokemon', sans-serif;
    font-size: 1.5rem;
    text-align: center;
}
.signup__form input:focus {
    border: #bd2a37 solid 5px;
}
.signup__form button {
    font-family: 'Pokemon', sans-serif;
    font-size: 2rem;
    font-weight: 900;
    border: #000 solid 1vh;
    border-radius: 10px;
    background-image: linear-gradient(#906303, #fcbc32,
            #906303);
    padding: 2vh 3vh;
    margin: 2vh;
}
.signup__form button:hover {
    cursor: pointer;
    color: #fff;
    background-image: linear-gradient(#8b1e27, #ff3444,
            #8b1e27);
}